<table border="1">
  <tr>

    <!--
    this here will not work, since there is not element property called "colspan" for <td>, though it has an attribute called "colspan"  
    But since property binding only works for properties, the below line will fail
  -->
    <!--
  <td colspan="{{1+1}}"></td>
-->


    <!-- Attribute binding on the other hand side will work-->
    <td [attr.colspan]="1+1">blabla</td>

  </tr>
  <tr>
    <td>Col 1</td>
    <td>Col 2</td>
  </tr>
</table>

<app-hero-master></app-hero-master>
<hr>
<app-sizer-parent></app-sizer-parent>